*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#222;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.contenedor{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:30px;
}

.semaforo{
    background:#111;
    padding:20px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.luz{
    width:90px;
    height:90px;
    border-radius:50%;
    background:#444;
}

.botones{
    display:flex;
    gap:10px;
}

button{
    padding:12px 20px;
    cursor:pointer;
    border:none;
    border-radius:6px;
    font-size:16px;
}